<ion-header>
  <ion-toolbar>
    <ion-title>storeTab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let i of buyables">
    <app-store-item-card
      name="{{ i.Name }}"
      canvasName="{{ i.CanvasName }}"
      id="{{ i.id }}"
      cost="{{ i.Cost }}"
      CurrCharGold='{{currChar.Gold}}'
      (boughtItem)='bought($event)'
    ></app-store-item-card>
  </div>
  <!-- <ion-item>
  <ion-item *ngFor='let item of items'>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.Name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id='itemCanvas' width='200' height='200'></canvas>
        <ion-button (click)='buy(item.id, item.Cost)'>{{item.Cost}}</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item> -->
</ion-content>
