<ion-header>
  <ion-toolbar padding>
    <ion-title>characterPage</ion-title>
    <ion-button slot="end" (click)="authService.signOut()">Sign Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-row>
      <ion-col size="2">
        <ion-avatar padding>
          <canvas
            style="display: block"
            center
            id="avatarCanvas"
            width="200"
            height="200"
          ></canvas>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-card-header>
          <!-- <ion-card-subtitle>Card subtitle</ion-card-subtitle> -->
          <ion-card-title>{{ currChar?.Name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content padding>
          Level: {{ currChar?.Level }}
          <ion-progress-bar value="{{ xpPercent }}"></ion-progress-bar>
          Experience: {{ currChar?.XP }}/{{ currChar?.Level * 20 }}
        </ion-card-content>
        <ion-card-content> Gold: {{ currChar?.Gold }} </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <div *ngFor="let i of charInventory">
    <app-closet-card
      name="{{ i.Name }}"
      id="{{ i.id }}"
      canvasName="{{ i.CanvasName }}"
      cost='{{i.Cost}}'
      [X]='i.X'
      Y='{{i.Y}}'
      [isWearing]="i.isWearing"
      (equipItem)="equip($event)"
    ></app-closet-card>
  </div>
</ion-content>
