.Title {
  margin: auto;
  width: fit-content;
  margin-top: 10px;
  font-size: 35px;
  color: #f5deb3;
  padding: 5px;
  border-bottom: double 7px #996515;
  border-left: double 5px #996515;
  border-radius: 15px;
}

.SubTitle {
  margin: auto;
  width: fit-content;
  color: #f5deb3;
  margin-top: 10px;
}

ion-item {
  color: #f5deb3;
}

.footer {
  color: #f5deb3;
}

.error {
  color: #ff6359;
  font-size: 21px;
  width: fit-content;
  margin: auto;
  padding-top: 20px;
}
