<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <h1 class='Title'>
    Welcome to To-Do Quester!
  </h1>
  <h2 class="SubTitle">
    Need a tool to help you keep track of homework?
    Want to earn awesome stuff for your online character?
  </h2>
  <h1 class='SubTitle'>
    Log In!
  </h1>
  <div class="error">
    {{errorMsg}}
  </div>
  <form #log="ngForm" (ngSubmit)="login(username.value, password.value)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        required
        type="email"
        #username
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        required
        #password
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="log.invalid">Log In</ion-button>
  </form>
  <h4 class="footer">Don't have an account? <a href="/signup">Sign up here!</a></h4>
  <!-- <ion-button (click)="signUp()">Sign Up</ion-button> -->
</ion-content>
