<ion-header>
  <ion-toolbar>
    <ion-title>
      Testing Crap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="stopwatch pt-3">
    <h1 text-center class="color-white font-lg">
      {{ time }}
    </h1>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running">
          <ion-button
            (click)="start()"
            >start</ion-button
          >
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <ion-button
            (click)="stop()"
            >stop</ion-button
          >
        </ion-col>
        <ion-col class="col-12">
          <ion-button
            (click)='restart()'>
            Reset
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
