<ion-header>
  <ion-toolbar>
    <ion-title>
      Adventure Time
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-grid>
    Equation Option 1: (min/10)^2/2
    <ion-row>
      <ion-col>(10/10)^2/2 = .5</ion-col>
      <ion-col>(30/10)^2/2 = 4.5</ion-col>
      <ion-col>(60/10)^2/2 = 18</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    Equation Option 2: (min/10)^Dif
    <ion-row>
      <ion-col>(10/10)^.5 = 1</ion-col>
      <ion-col>(10/10)^1 = 1</ion-col>
      <ion-col>(10/10)^1.5 = 1</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(30/10)^.5 = 1.7</ion-col>
      <ion-col>(30/10)^1 = 3</ion-col>
      <ion-col>(30/10)^1.5 = 5.19</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(60/10)^.5 = 2.4 </ion-col>
      <ion-col>(60/10)^1 = 6</ion-col>
      <ion-col>(60/10)^1.5 = 14.69</ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <br />
  Difficulty rage: [.5, 1, 1.5] -->
  <div *ngIf="display">
    <ion-button (click)="endlessTimerToDisplay()">
      Endless Timer
    </ion-button>
    <ion-button (click)="countDownTimer()">
      Countdown Timer
    </ion-button>
    <ion-button (click)="manualInput()">
      Manual Input
    </ion-button>
  </div>

  <div *ngIf="endlessTimerDisplay">
    <h1>Endless Timer</h1>
    <h3>
      Work Until You feel like you have worked enough. You are able to take 5
      minute breaks after working for about 20 minutes.
    </h3>
    <div>Began at: {{ startTime | date: "shortTime" }}</div>
    <div>Ended at: {{ endTime | date: "shortTime" }}</div>
    <div>Breaks Taken: {{breakcounter}}</div>
    <ion-button *ngIf="!endlessDisplay" (click)="setEndlessTimer()"
      >Start</ion-button
    >
    <div *ngIf="endlessDisplay">
      <ion-button *ngIf="duringBreak" (click)="endEndlessTimer()"
        >Stop</ion-button
      >
      <ion-button *ngIf="duringBreak" (click)="break()">5 min Break</ion-button>
      <div *ngIf="breakcounterDisplay">
        <countdown
          [config]="breaktimer"
          (event)="breakOver($event)"
        ></countdown>
      </div>
    </div>
  </div>

  <!-- v2
  <div *ngIf="endlessTimerDisplay">
    <h3>{{ eMaxTime }}</h3>
    <ion-button *ngIf="!endlessDisplay" (click)="startEndlessTimer()"
      >Start</ion-button
    >
    <ion-button *ngIf="endlessDisplay" (click)="pleaseStop = !pleaseStop"
      >Stop</ion-button
    > -->
  <!-- v1
       <h3>{{ eTime }}</h3> -->
  <!-- <ion-button *ngIf="!eRunning" (click)="endlessStart()">Start</ion-button>
    <ion-button *ngIf="eRunning" (click)="endlessStop()">Stop</ion-button> -->
  <!-- <ion-button (click)="endlessRestart()">Reset</ion-button> 
    </div>
    -->

  <div *ngIf="countdownTimerDisplay">
    <h1>Count Down Timer</h1>
    <h3>You've set how long you want to work for, now do some good work</h3>
    <countdown [config]="timer" (event)="timerDone($event)"></countdown>
  </div>

  <!-- count down timer v1
  <div *ngIf="countdownTimerDisplay">
    <h3>Its the final countDown!</h3>
    <h3>{{ maxTime }}</h3>
  </div> -->

  <!-- <ion-item>
    <ion-label>HH:mm</ion-label>
    <ion-datetime display-format="HH:mm"></ion-datetime>
  </ion-item> -->
</ion-content>
